.carousel-wrap h2 {
    letter-spacing: -1px;
    font-size: 2rem;
    color: #fff;
}
.carousel-container {
    overflow: hidden;
    height: 440px;
}

.movie-carousel {
    padding: 0 0.6rem;
    box-sizing: border-box;
}

@media (max-width: 480px){
    .carousel-wrap .container {
        padding: 0 2rem;
    }
}