.search-movie-card {
    height: 21rem;
    margin-bottom: 1rem;
    background-position: center;
    background-size: cover;
    color: #fff;
    border-radius: 0.5rem;
}
.search-movie-card .desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 100%;
    background: rgba(0,0,0,0.85);
    border-radius: 0.5rem;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s;
}
.search-movie-card:hover .desc-wrap {
    opacity: 1;
}
.desc-wrap img {
    display: inline-block;
    width: 40%;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    vertical-align: top;
}
.search-movie-card:hover .desc-wrap img {
    transform: scale(1)
}
.desc-wrap .title {
    margin: 0.5rem 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.desc-wrap .badge {
    margin: 0 0.2rem 0.5rem;
}
.desc-wrap .go-detail {
    font-size: 1rem;
    border-bottom: 1px solid #fff;
}

/* 미디어쿼리 */
@media (max-width:992px) {
    .search-movie-card {
        height: 26rem;
        margin-bottom: 1.4rem;
    }
}
@media (max-width:768px) {
    .search-movie-card {
        height: 35rem;
        margin-bottom: 2rem;
    }
}
@media (max-width:480px) {
    .desc-wrap .title {
        font-size: 1.5rem;
    }
    .desc-wrap .go-detail {
        font-size: 1.2rem;
    }
}
