/* layout */
body {
    background: #000;
}
#header {
    position: absolute;
    width: 100%;
    z-index: 2;
}
#main-banner {
    position: relative;
    height: 43.75rem;
    box-sizing: border-box;
}
#membership {
    /* background: rgb(14,27,79); */
    transform: translateY(-50%);
}
#devices {
    margin-top: -2rem;
}


/* header */
.header h1 a {
    display: block;
    margin-top: 1rem;
    width: 11rem;
}
.header h1 a img {
    width: 100%;
    vertical-align: top;
}

/* .main-banner */
.main-banner {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main-banner .content-wrap {
    position: relative;
    height: 100%;
}
.content-wrap .container {
    display: flex;
    justify-content: center;
}
.content-wrap .cover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}
.content-wrap .intro {
    padding : 18rem 0 0;
    color: #fff;
    text-align: center;
}
.content-wrap .intro h2 {
    font-size: 3.1rem;
    font-weight: 900;
    letter-spacing: -1px;
}
.content-wrap .intro > p {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
}
.intro .form-wrap .input-box {
    position: relative;
    display: inline-block;
}
.form-wrap .input-box input {
    padding: 1.5rem 1rem 0.5rem;
    width: 25rem;
    box-sizing: border-box;
    border: 1px solid rgb(229,9,20);
    border-radius: 0.35rem;
    color: #fff;
}
.form-wrap .input-box label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #999;
    font-size: 1rem;
    transition:  font-size 0.1s ease-in;
}
.form-wrap .input-box input:focus {
    outline: #fff solid medium;
}
.form-wrap .input-box input:focus + label{
    top: 0.7rem;
    font-size: 0.8rem;
    font-weight: 600;
}
.form-wrap .input-box input.on + label {
    top: 0.7rem;
    font-size: 0.8rem;
    font-weight: 600;
}
.intro .form-wrap button {
    padding: 0 1.5rem;
    margin-left: 0.5rem;
    background: rgb(229,9,20);
    font-size: 1.5rem;
    line-height: 3.6rem;
    vertical-align: 0.3rem;
    color: #fff;
    cursor: pointer;
    border-radius: 0.35rem;
}
.form-wrap button svg {
    margin-left: 0.5rem;
}
.main-banner .bg-wrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
}

/* membership */
.membership {
    color: #fff;
    background: radial-gradient(
        51.39% 511.66% at 47.68% -217.91%,
        #ff9900 0%,
        #e50914 17.27%,
        #0e1b4f 79.44%,
        #000413 100%
    );
}
.membership .container {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
}
.membership .img-box {
    width: 7rem;
}
.membership .img-box img {
    width: 100%;
    vertical-align: top;
}
.membership .text-box h2 {
    font-size: 1.3rem;
    margin-bottom: 0;
    margin: 0.5rem 0 0.5rem;
}
.membership .text-box p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.membership .text-box a {
    cursor: pointer;
    color: #448ef4;
    text-decoration: underline;
}
.membership .text-box a:hover {
    color: #448ef4;
    text-decoration: underline;
}

/* devices */
.devices .col1 {
    padding: 9rem 0 0 5rem;
}
.devices h2 {
    font-size: 3rem;
    color: #fff;
    font-weight: 900;
}
.devices p {
    font-size: 1.6rem;
    color: #fff;
}
.devices .media-wrap {
    position: relative;    
    overflow: hidden;
}
.devices .media-wrap .img-box img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.devices .media-wrap .video-box {
    position: absolute;
    left: 13%;
    top: 21%;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



/* 반응형 */
@media (max-width:1400px){
    /* devices */
    .devices .col1 {
        padding: 6rem 0 0 5rem;
    }
}
@media (max-width:1200px){
    /* devices */
    .devices .col1 {
        padding: 4rem 0 0 5rem;
    }
}
@media (max-width:992px){
    /* devices */
    .devices .col1 {
        padding: 0;
        padding-top: 2rem;
        text-align: center;
    }
    .devices h2 {
        font-size: 2rem;

    }
    .devices p {
        font-size: 1.1rem;

    } 
    .devices .media-wrap .img-box img {
        width: 90%;
    }
    .devices .media-wrap .video-box {
        left: 16%;
        top: 21%;
    }       
}
@media (max-width:768px){
    /* header */
    .header h1 a {
        margin-top: 1rem;
        width: 11rem;
    }
    /* membership */
    #membership {
        transform: translateY(0);
    }
    .membership {
        margin: 0 2rem; 
        padding: 0 2rem;
        background: radial-gradient(
            120.35% 220% at 49.86% -6.29%,
            #e50914 0%,
            #0e1b4f 46.15%,
            #0d1121 100%
        );
        border-radius: 1rem;
    }
    .membership .container {
        flex-direction: column;
        padding: 1.2rem 0 2.5rem;
    
    }
    .membership .img-box {
        margin-top: -5rem;
        width: 7rem;
    }
    .membership .text-box h2 {
        font-size: 1.6rem;
        margin: 0.5rem 0 0.5rem;
    }
    .membership .text-box p {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
    }
    .membership .text-box a {
        font-size: 1.5rem;
    }
    /* devices */
    #devices {
        margin-top: 5rem;
    }
    .devices .col1 {
        padding: 0;
        padding-top: 2rem;
        text-align: center;
    }
    .devices h2 {
        font-size: 3rem;

    }
    .devices p {
        font-size: 1.5rem;

    } 
    .devices .media-wrap .img-box img {
        width: 100%;
    }
}

@media (max-width: 480px){
    .content-wrap .intro {
        padding: 12rem 4rem 0;
    }  
    .content-wrap .intro > p {
        margin-bottom: 2rem;
        font-size: 1.8rem;
    }
    .intro .form-wrap .input-box {
        display: block;
        margin-bottom: 1.5rem;
    }
    .form-wrap .input-box input {
        padding: 2rem 1rem 0.5rem;
        width: 100%;
        font-size: 1.5rem;
    }  
    .form-wrap .input-box label {
        left: 1rem;
        top: 1.2rem;
        font-size: 1.4rem;
    }  
    .form-wrap .input-box input:focus + label{
        top: 0.7rem;
        font-size: 1.2rem;
    }
    .form-wrap .input-box input.on + label {
        top: 0.7rem;
        font-size: 1.2rem;
    }
    .intro .form-wrap button {
        padding: 0 2rem;
        margin-left: 0;
        font-size: 1.8rem;
        line-height: 4.2rem;
        vertical-align: 0;
    } 
    /* devices */  
    .devices .col1 {
        padding: 0 2rem;
    }       
}