.video-modal {
    display: flex !important;
    color: #fff;
}
.video-modal .modal-dialog {
    max-width: none;
}
.video-modal .modal-dialog .modal-content {
    background-color: #111;
}
.video-modal .modal-dialog .modal-content .btn-close {
    color: #fff;
    --bs-btn-close-color:#fff;
    --bs-btn-close-bg:url('../../../../assets/close.png')
}
.video-modal .modal-dialog .modal-content .modal-header {
    border-bottom: none;
}