#popular-movies h2 {
    font-size: 2rem;
    color: #fff;
}
.carousel-container {
    overflow: hidden;
    height: 440px;
}

@media (max-width: 480px){
    #popular-movies .container {
        padding: 0 2rem;
    }
}