.detail-wrap {
    padding-top: 50vh;
}
.detail-wrap .bg-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: top;
    color: #fff;
}
.detail-wrap .bg-top::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to top,#000,transparent);
}
.detail-wrap .bg-top .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-wrap .bg-top .tagline {
    position: relative;
    z-index: 10;
    font-size: 1.2rem;
}
.detail-wrap .detail-content {
    padding-top: 10rem;
    position: relative;
    z-index: 1;
    background:black;
    color: white;
}
.detail-content .detail-box {
    margin-bottom: 6rem;
}
.detail-box .poster-col {
    text-align: right;
}
.detail-box .poster-col img {
   width: 80%;
}
.detail-box .desc .genre .badge {
    font-size: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 1rem;
}
.detail-box .desc h2 {
    font-size: 3rem;
}
.detail-box .desc h3 {
    font-size: 2rem;
}
.detail-box .top-list {
    padding-left: 0;
    margin: 3rem 0 3rem;
}
.detail-box .top-list li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.2rem;
}
.detail-box .overview {
    padding: 1rem 0;
    margin-bottom: 3rem;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.detail-box .bottom-list {
    padding-left: 0;
}
.detail-box .bottom-list .badge {
    padding: 0.6rem 0;
    margin-right: 1rem;
    width: 8rem;
    font-size: 1rem;
}
.detail-box .bottom-list li {
    margin-bottom: 0.5rem;
}
.detail-content .detail-tap-box {
    padding-bottom: 6rem;
}
.detail-tap-box .container {
    padding: 0 2rem;
}
.detail-tap-box #detail-tab {
    margin-bottom: 3rem !important;
    border-color: rgb(229,9,20);
}
.detail-tap-box #detail-tab .nav-link {
    color: #fff;
    border: none;
}
.detail-tap-box #detail-tab .nav-link.active {
    background: rgb(229,9,20);
    color: #fff;
    
}

/* 반응형 */
@media (max-width:1200px){
    .detail-box .poster-col {
        text-align: center;
    }
    .detail-box .poster-col img {
        width: 100%;
    }
}
@media (max-width:992px){
    .detail-box .poster-col img {
        margin-bottom: 3rem;
        width: 50%;
    }
}
@media (max-width:480px){
    .detail-wrap .bg-top .container {
        padding: 0 3rem;
    }
    .detail-wrap .bg-top .tagline {
        font-size: 1.5rem;
    }
    .detail-wrap .detail-content {
        padding-top: 6rem;
    }
    .detail-box .container {
        padding: 0 3rem;
    }
    .detail-box .poster-col img {
        margin-bottom: 5rem;
    }
    .detail-box .desc .genre .badge {
        font-size: 1.3rem;
    }
    .detail-box .top-list li {
        font-size: 1.6rem;
    }
    .detail-box .top-list li button {
        font-size: 1.6rem;
    }
    .detail-box .overview {
        margin-bottom: 2rem;
    }
    .detail-box .bottom-list .badge {
        font-size: 1.3rem;
    }
}