/* 헤더 */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
    background: linear-gradient(180deg,rgba(0,0,0,0.7) 10%,transparent)
}
header .navbar {
    --bs-navbar-padding-y: 0;
}
header .bg-body-tertiary {
    background-color: transparent !important;
}
header .navbar .navbar-brand {
    margin-right: 0;
}
header .navbar .navbar-brand img {
    vertical-align: top;
    width: 5rem;
}
header .navbar .nav-link {
    color: #fff;
}
header .navbar .nav-link.active {
    color: #fff;
}

header .navbar .navbar-toggler {
    border-color: #fff;
}
header .navbar .navbar-toggler:focus {
    outline: none;
}
header .navbar .navbar-toggler .navbar-toggler-icon {
    filter: invert(1);
}


@media (max-width: 992px){
    header {
        position: static;
        background: #000
    }
    header .navbar .navbar-collapse {
        padding-bottom: 1rem;        
    }
}

@media (max-width: 768px){
    header .navbar .navbar-brand img {
        width: 6rem;
    } 
    header .navbar .form-control {
        font-size: inherit;
    }
    header .navbar .form-control + button {
        font-size: inherit;
    }
}